<!DOCTYPE html>
<html>
  <head>
    <title>WVU Pattern Library - Masthead Module</title>
    <meta content='width=device-width, initial-scale=1' name='viewport'>

    <link href="styles.css" rel="stylesheet" />

  </head>

  <body>

  </body>
</html>
