// Default Variable Overrides
// =================================================


// Include Manifest
// =================================================
@import './src/scss/manifest';


// Include Test Styles
// =================================================
.container {
  @include outer-container();
}

.color-classes {
  border: 3px solid;
  margin: 15px;
  padding: 15px;
}
